{% extends 'base.html.twig' %}

{% block body %}

<div class="container p-3">
  <h1 class="p-2">Bienvenue dans notre pension</h1>
  
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio at, repellendus, perferendis dolorem dolor omnis totam sint ex impedit, incidunt aperiam ratione sit ipsam error tenetur eaque fuga sed dignissimos!Ex id veniam animi officia iusto iste dolor reprehenderit sit qui ratione enim magnam corrupti dignissimos at optio laborum debitis dolores rerum quisquam mollitia, labore beatae necessitatibus? Sed, assumenda? Nulla!</p>
</div>
  
  

{% endblock %}