{% extends 'base.html.twig' %}

{% block body %}

<div class="container p-3">
  <h1 class="p-2">Bienvenue dans notre pension</h1>
  
  
  <p>La Pension de Metz (57), accueille des chiens et des chats depuis
  2008. C’est un lieu familial idéal pour faire oublier à votre compagnon à 4 pattes votre absence de courte durée ou
  prolongée.</p>
</div>
  
  

{% endblock %}