{% extends 'base.html.twig' %}

{% block body %}

<div class="container text-center p-2">
  <h1 class="text-success font-weight-bold m-4">Nos horaires d'ouverture</h1>
  <h3>La pension est ouverte, du lundi au vendredi, de 8 heures à midi et de 14 heures à 18 heures - le samedi de 8 heures à midi – fermeture Dimanche et jours fériés</h3>
  <h1 class="text-success font-weight-bold m-4">Nos tarifs</h1>
  <h3>Acceptable</h3>
</div>

{% endblock %}