{% extends 'base.html.twig' %}

{% block body %}

<div class="container text-center p-2">
  <h1 class="text-success font-weight-bold m-4">Nos horaires d'ouverture</h1>
  <h3>La pension est ouverte, du lundi au vendredi, de 8 heures à midi et de 14 heures à 18 heures - le samedi de 8 heures à midi – fermeture Dimanche et jours fériés</h3>
  <h1 class="text-success font-weight-bold m-4">Nos tarifs</h1>
  <h3>Acceptable</h3>
</div>

<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, optio molestias magnam ipsam voluptatibus dignissimos iusto cum odit eum commodi, obcaecati sunt natus debitis possimus cupiditate iure sequi esse omnis ipsa, nobis neque doloribus deserunt ut necessitatibus. Nihil, hic repellendus vitae doloremque praesentium, ad earum corporis, perspiciatis voluptatibus nesciunt culpa possimus quae eaque. Molestiae cupiditate maxime exercitationem qui voluptatibus. Commodi, tempora quo! Necessitatibus atque corporis distinctio officiis adipisci, dolor quae ut repellat magnam ipsum porro sapiente id reprehenderit nulla magni itaque aliquam inventore tempora corrupti voluptatibus. Delectus laboriosam modi vero dolor quidem adipisci! Laboriosam quisquam eligendi iste dolor deserunt, officia vero obcaecati saepe labore rerum ipsa id architecto ducimus aliquid, magnam error modi odit magni ratione eum delectus iusto voluptas? Rerum officia nam perferendis, sit mollitia natus, expedita ad quam velit harum temporibus voluptatibus? A blanditiis repellendus nemo veniam pariatur libero exercitationem similique nobis praesentium doloremque vero provident quae dolores, unde fuga? Rem deleniti iste rerum minima beatae dolorum, optio doloribus! Error fuga neque numquam consectetur ut est, ullam qui enim. Consequuntur aperiam natus obcaecati ducimus voluptatum dolore officia modi. Architecto, saepe assumenda dicta tenetur mollitia laudantium commodi maiores itaque corporis, molestiae illo consectetur ipsam voluptatum? In, facilis? Delectus, autem!</div>

{% endblock %}